<!--to be used in header in responsive view-->
<div class="container">
  <div class="row">

    <div *ngIf="reservation_create" class="col-lg-2 col-sm-6 col-md-6 header-link">
      <button class="header-link" routerLink="/reservation-create">
        {{'Create Reservation' | translate}}
      </button>
    </div>

    <div *ngIf="contact_list" class="col-lg-2 col-sm-6 col-md-6 header-link">
      <button class="header-link" routerLink="/contacts">
        {{'Contact List' | translate}}
      </button>
    </div>

    <div *ngIf="reservation_list" class="col-lg-2 col-sm-6 col-md-6 header-link">
      <button class="header-link header-back" routerLink="/reservations">
        {{'Reservation List' | translate}}
      </button>
    </div>

    <div *ngIf="contact_create" class="col-lg-2 col-sm-6 col-md-6 header-link">
      <button class="header-link header-back" routerLink="/contact-create">
        {{'Create Contact' | translate}}
      </button>
    </div>

  </div>
</div>

<nav
  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
>
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-sm-12 col-md-6">
        <label class="banner-label">{{title | translate}} </label>
      </div>

      <div class="col-lg-5 col-sm-12 col-md-6">
        <p>
          {{subtitle | translate}}
        </p>
      </div>

      <div *ngIf="reservation_create" class="col-lg-2 col-sm-6 col-md-6 hidden-btn">
        <button class="btn-rounded" routerLink="/reservation-create">
          {{'Create Reservation' | translate}}
        </button>
      </div>

      <div *ngIf="reservation_list" class="col-lg-2 col-sm-6 col-md-6 hidden-btn">
        <button class="btn-rounded" routerLink="/reservations">
          {{'Reservation List' | translate}}
        </button>
      </div>

      <div *ngIf="contact_create" class="col-lg-2 col-sm-6 col-md-6 hidden-btn">
        <button class="btn-rounded" routerLink="/contact-create">
          {{'Create Contact' | translate}}
        </button>
      </div>

      <div *ngIf="contact_list" class="col-lg-2 col-sm-6 col-md-6 hidden-btn">
        <button class="btn-rounded" routerLink="/contacts">
          {{'Contact List' | translate}}
        </button>
      </div>

    </div>
  </div>

</nav>
