<nav
  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-12 col-md-6"><label class="banner-label"><b i18n>Reservation List</b></label></div>
      <div class="col-lg-6 col-sm-12 col-md-6 hidden-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
      <div class="col-lg-2 col-sm-6 col-md-6">
        <button class="btn-rounded" i18n onclick="">Create Reservation</button>

      </div>
      <div class="col-lg-2 col-sm-6 col-md-6">
        <button class="btn-rounded" i18n onclick="">Contact List</button>
      </div>
    </div>
  </div>

</nav>

<div *ngIf="reservations.length>0" class="container">

  <div class="col-lg-4 col-sm-4 col-md-4">
    <mat-form-field appearance="fill">
      <mat-select (selectionChange)="sortChange($event.value)" [(value)]="sortOption" required>
        <mat-option *ngFor="let opt of selectOptions" [value]="opt.value">
          {{ opt.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <table [dataSource]="reservations" class="table" mat-table>
      <ng-container matColumnDef="image">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let row" mat-cell>
          <img alt="{{row.destination.name}}" class="destination-image"
               src="../../assets/images/{{ row.destination.image }}">
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef i18n mat-header-cell>Name</th>
        <td *matCellDef="let row" mat-cell>
          <span>
              <strong>
                {{ row.destination.name }}
              </strong>
            </span>
          <div class="hidden-text">
            <span i18n>{{ row.date }} at {{ row.time }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th *matHeaderCellDef i18n mat-header-cell>Rating</th>
        <td *matCellDef="let row" mat-cell>
          <div i18n>Ranking</div>
          <mat-star-rating (ratingUpdated)="onRatingChanged($event)" [id]="row.destination.id"
                           [rating]="row.destination.rating"></mat-star-rating>
        </td>
      </ng-container>

      <ng-container matColumnDef="favorite">
        <th *matHeaderCellDef i18n mat-header-cell>Favorite</th>
        <td *matCellDef="let row" mat-cell>
          <span (click)="setFavorite(row.destination.id, row.id)" i18n style="cursor: pointer">Add Favorites</span>

          <img (click)="setFavorite(row.destination.id, row.id)" *ngIf="row.destination.favorite"
               alt="" class="favorite-image"
               src="../../assets/images/favorite-heart-icon-active.png">

          <img (click)="setFavorite(row.destination.id, row.id)" *ngIf="!row.destination.favorite"
               alt="" class="favorite-image"
               src="../../assets/images/favorite-heart-icon-disabled.png">
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef i18n mat-header-cell>Actions</th>
        <td *matCellDef="let row" mat-cell>
          <button class="btn-rounded" i18n onclick="">Edit</button>
        </td>
      </ng-container>

      <!--        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>-->
      <tr *matRowDef="let row; columns: columnsToDisplay" mat-row></tr>
    </table>

    <mat-paginator
      [length]="totalRecords"
      [pageSizeOptions]="[5, 10, 15]"
      [pageSize]=2
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>

<div *ngIf="reservations.length==0" class="container">
  <span i18n>No data available</span>
</div>
