<app-menu-options [contact_list]="contact_list_button" [reservation_create]="reservation_create_button"
                  [subtitle]="subtitle"
                  [title]="title"></app-menu-options>

<mat-sidenav-container>
  <mat-sidenav-content>
    <div *ngIf="dataSource.data.length>0" class="container">
      <div class="col-12 table-wrapper">
        <div class="col-lg-3 col-sm-12 col-md-3">
          <mat-form-field appearance="outline" class="fontuser mat-form-field-appearance-outline-sortby">
            <mat-select (selectionChange)="sortChange($event.value)" [(value)]="sortOption"
                        class="mat-select-trigger-sortby"
                        required>
              <mat-option *ngFor="let opt of selectOptions" [value]="opt.value">
                {{ opt.text | translate }}
              </mat-option>
            </mat-select>
            <mat-icon matPrefix>sort</mat-icon>
          </mat-form-field>
        </div>

        <div>
          <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
          <table [dataSource]="dataSource" class="table" mat-table>
            <ng-container matColumnDef="image">
              <th *matHeaderCellDef mat-header-cell></th>
              <td *matCellDef="let row" class="hidden-destination-image" mat-cell>
                <img alt="{{row.destination.name}}" class="destination-image"
                     src="{{ row.destination.image }}">
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th *matHeaderCellDef mat-header-cell>Name</th>
              <td *matCellDef="let row" mat-cell>
          <span>
              <strong>
                {{ row.destination.name }}
              </strong>
            </span>
                <div class="hidden-date">
                  <span>{{ row.displayDate }} at {{ row.time }}</span>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="rating">
              <th *matHeaderCellDef mat-header-cell>Rating</th>
              <td *matCellDef="let row" class="hidden-rating" mat-cell>
                <div>{{'Ranking' | translate}}</div>
                <mat-star-rating (ratingUpdated)="onRatingChanged($event)" [id]="row.id"
                                 [rating]="row.destination.rating"
                                 class="material-icons mat-icon-rating"></mat-star-rating>
              </td>
            </ng-container>

            <ng-container matColumnDef="favorite">
              <th *matHeaderCellDef mat-header-cell>Favorite</th>
              <td *matCellDef="let row" mat-cell>
                <span (click)="setFavorite(row.destination.id, row.id)"
                      class="hidden-favorites" style="cursor: pointer">{{'Add Favorites' | translate}}</span>

                <img (click)="setFavorite(row.destination.id, row.id)" *ngIf="row.destination.favorite"
                     alt="" class="favorite-image"
                     src="../../assets/images/favorite-heart-icon-active.png">

                <img (click)="setFavorite(row.destination.id, row.id)" *ngIf="!row.destination.favorite"
                     alt="" class="favorite-image"
                     src="../../assets/images/favorite-heart-icon-disabled.png">
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th *matHeaderCellDef mat-header-cell>Actions</th>
              <td *matCellDef="let row" mat-cell>
                <button [routerLink]="['/reservation-edit', row.id]" class="btn-rounded">{{'Edit' | translate}}</button>
              </td>
            </ng-container>

            <!--        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>-->
            <tr *matRowDef="let row; columns: columnsToDisplay" mat-row></tr>
          </table>

          <mat-paginator
            (page)="pageChanged($event)"
            [length]="totalRecords"
            [pageIndex]="currentPage"
            [pageSizeOptions]="pageSizeOptions"
            [pageSize]="pageSize"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

