<app-menu-options [contact_create]="contact_create_button" [reservation_list]="reservation_list_button"
                  [subtitle]="subtitle"
                  [title]="title"></app-menu-options>

<mat-sidenav-container>
  <mat-sidenav-content>

    <div *ngIf="dataSource.data.length>0" class="container">
      <div class="col-12 table-wrapper">

        <table (matSortChange)="sortData($event)" [dataSource]="dataSource" class="table"
               mat-table matSort matSortActive="created" matSortDirection="asc"
               matSortDisableClear>
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header="name">{{'Name' | translate}}</th>
            <td *matCellDef="let row" mat-cell>
              {{row.name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="contactTypeName">
            <th *matHeaderCellDef mat-header-cell mat-sort-header="contactTypeName">{{'Contact Type' | translate}}</th>
            <td *matCellDef="let row" mat-cell>
              {{row.contactTypeName}}
            </td>
          </ng-container>

          <ng-container matColumnDef="birthDate">
            <th *matHeaderCellDef mat-header-cell mat-sort-header="birthDate">{{'BirthDate' | translate}}</th>
            <td *matCellDef="let row" mat-cell>
              {{row.birthDate}}
            </td>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <th *matHeaderCellDef mat-header-cell>{{'Phone Number' | translate}}</th>
            <td *matCellDef="let row" mat-cell>
              {{row.phoneNumber}}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell>{{'Actions' | translate}}</th>
            <td *matCellDef="let row" mat-cell>
                  <span class="btn-actions">
                     <button (click)="openDialog(row.id)" class="btn-rounded">{{'Delete' | translate}}</button>
                  </span>
              <button [routerLink]="['/contact-edit', row.id]" class="btn-rounded"
                      style="margin-right: 5px">{{'Edit' | translate}}
              </button>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
          <tr *matRowDef="let row; columns: columnsToDisplay;" mat-row></tr>
        </table>

        <mat-paginator
          (page)="pageChanged($event)"
          [length]="totalRecords"
          [pageIndex]="currentPage"
          [pageSizeOptions]="pageSizeOptions"
          [pageSize]="pageSize"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

