/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-responsive {
  display: table;
}

#table_id_length, #table_id_filter, #table_id_info {
  display: none;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.back-reservation-list {
  background-color: lightgray !important;
}

.banner-label {
  color: #bf1110;
  font-size: 20px;
  vertical-align: middle !important;
}

.hidden-text {
  color: gray;
  font-size: small;
}

.btn-rounded {
  border: 1px solid gray;
  text-transform: uppercase;
  font-size: 14px;
  background-color: gray;
  color: white;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
}

.destination-image {
  max-width: 100px;
  padding: 3px;
}

.favorite-image {
  max-width: 25px;
  padding: 3px;
  cursor: pointer;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  vertical-align: middle;
}

.fontuser {
  width: 100%;
  position: relative;
}

.fontuser i {
  position: absolute;
  left: 5%;
  top: 20%;
  color: #dee2e6;
  font-size: x-large;
}
