/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

form {
  margin: 35px auto 100px;
  display: block;
  float: none;
}

.mat-form-field {
  width: 100%;
}

.misc-bottom-padding {
  margin: 8px 0 20px;
}

.misc-bottom-padding mat-label {
  margin-right: 15px;
}

.mat-radio-label {
  margin: 0 15px 0 0;
}

.title-center {
  margin: 0 auto;
}

.button-wrapper {
  margin-top: 10px;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-responsive {
  display: table;
}

#table_id_length, #table_id_filter, #table_id_info {
  display: none;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.back-reservation-list {
  background-color: lightgray !important;
}

.banner-label {
  color: #bf1110;
  font-size: 20px;
  vertical-align: middle !important;
}

.hidden-text {
  color: gray;
  font-size: small;
}

.btn-rounded {
  border: 1px solid gray;
  text-transform: uppercase;
  font-size: 14px;
  background-color: gray;
  color: white;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
}

.btn-form {
  border: 1px solid #bc0001;;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
  background-color: #bc0001;;
  color: white;
  padding: 5px;
  width: 100px;
  margin: 10px;
}

.destination-image {
  max-width: 100px;
  padding: 3px;
}

.favorite-image {
  max-width: 25px;
  padding: 3px;
  cursor: pointer;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  vertical-align: middle;
}

.fontuser {
  width: 100%;
  position: relative;
}

/*-----Mat Form Fields-------*/
mat-form-field.mat-form-field {
  font-size: 14px;
}

mat-icon {
  color: #dee2e6;
  font-size: medium;
}

.mat-datepicker-toggle {
  color: #dee2e6;
  font-size: medium;
}

/*----------Messages-----------------*/
.mat-simple-snack-bar-content {
  padding-left: 5px;
}

.mat-snack-bar-container {
  display: -webkit-box !important;
}

.my-notify-info, .my-notify-success, .my-notify-warning, .my-notify-error {
  padding: 10px;
  margin: 10px 0;

}

.my-notify-info:before, .my-notify-success:before, .my-notify-warning:before, .my-notify-error:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.my-notify-info:before {
  content: "\f05a";
}

.my-notify-success:before {
  content: '\f00c';
}

.my-notify-warning:before {
  content: '\f071';
}

.my-notify-error:before {
  content: '\f057';
}

.my-notify-info {
  color: #00529B;
  background-color: #BDE5F8;
}

.my-notify-success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.my-notify-warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.my-notify-error {
  color: #D8000C;
  background-color: #FFD2D2;
}
