<div class="back-header">
  <div class="language">
    <img (click)="translateService.use('es')" alt="" class="language-header" src="../../../assets/images/es.png"
         title="{{'Spanish' | translate}}">
    <img (click)="translateService.use('en')" alt="" class="language-header" src="../../../assets/images/en.png"
         title="{{'English' | translate}}">
  </div>
  <!--  <div class="col-lg-2 col-sm-6 col-md-6 header-link">-->
  <!--    <button class="header-link" routerLink="/reservation-create">-->
  <!--      {{'Create Reservation' | translate}}-->
  <!--    </button>-->
  <!--  </div>-->
  <!--  <div class="col-lg-2 col-sm-6 col-md-6 header-link">-->
  <!--    <button class="header-link" routerLink="/contacts">-->
  <!--      {{'Contact List' | translate}}-->
  <!--    </button>-->
  <!--  </div>-->


</div>




